<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card><pre>
    1. html : app-astat [myname]="myname"
    2. ts :
        - myname = "chart-test";
        - this.pubsub.sub(this.myname+".chartxxx",...
        - this.pubsub.pub(this.myname+".charttype",...
</pre></nz-card> </nz-collapse-panel> </nz-collapse>



<button nz-button nzType="dashed" (click)="test_type('title')">title</button>
<button nz-button nzType="dashed" (click)="test_type('value')">value</button>
<button nz-button nzType="dashed" (click)="test_type('suffix')">suffix</button>
<button nz-button nzType="dashed" (click)="test_type('color')">color</button>
<button nz-button nzType="dashed" (click)="test_type('icon')">icon</button>
<nz-divider nzType="vertical"></nz-divider>                




<nz-collapse> 
    <nz-collapse-panel [nzHeader]="'realtime'" [nzActive]="'true'" [nzDisabled]="'false'"> 
        <nz-card>
            <app-astat [myname]="myname"></app-astat>
        </nz-card> 
    </nz-collapse-panel> 

</nz-collapse>

