<form nz-form [formGroup]="form" (ngSubmit)="formSubmit()">
    <nz-form-item>
        <nz-form-label nzRequired nzFor="email">sql</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group>
              <textarea nz-input formControlName="sql" rows="3" placeholder="sql"></textarea>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired nzFor="email">User Name</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired nzFor="email">Password</nz-form-label>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [nzType]="'primary'">Log in</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  