
<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6"> 
          <nz-card> <h6>search</h6> <app-stomp-msgtodb-form></app-stomp-msgtodb-form> </nz-card> 
      </nz-col>
      <nz-col [nzSpan]="18"> 
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'stats'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> <app-stomp-msgtodb-stats></app-stomp-msgtodb-stats> </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>
            <!-- <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'table'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> <app-dbtable-table></app-dbtable-table> </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col> -->

        </nz-row>
      </nz-col>
    </nz-row>
</div>
