<form nz-form [formGroup]="getFormgroup()" (ngSubmit)="formSubmit()">
    <nz-form-item>
    <nz-form-label nzRequired nzFor="sql">sql</nz-form-label>
        <nz-form-control nzErrorTip="Please input your sql!">
            <button nz-button [nzType]="'primary'">Run</button>
            <nz-input-group>
                <textarea nz-input formControlName="sql" rows="3" placeholder="sql"></textarea>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired nzFor="legend">legend</nz-form-label>
        <nz-form-control nzErrorTip="Please input your legend!">
            <nz-input-group>
              <nz-tag *ngFor="let column of getLegendColumns()" [nzColor]="column['color']" (click)="clickLegendColumn(column)">{{column['name']}}</nz-tag>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired nzFor="x">x</nz-form-label>
        <nz-form-control nzErrorTip="Please input your x!">
            <nz-input-group>
              <nz-tag *ngFor="let column of getXColumns()" [nzColor]="column['color']" (click)="clickXColumn(column)">{{column['name']}}</nz-tag>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired nzFor="y">y</nz-form-label>
        <nz-form-control nzErrorTip="Please input your y!">
            <nz-input-group>
              <nz-tag *ngFor="let column of getYColumns()" [nzColor]="column['color']" (click)="clickYColumn(column)">{{column['name']}}</nz-tag>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <!-- <nz-form-item>
        <nz-form-control>
          <button nz-button [nzType]="'primary'">Run</button>
        </nz-form-control>
      </nz-form-item> -->

</form>


  