<form nz-form [formGroup]="getFormgroup()" (ngSubmit)="formSubmit()">

    <nz-divider [nzText]="'hello'" nzOrientation="left"></nz-divider>                
    <nz-form-item>
        <!-- <nz-form-label [nzSpan]="7" nzRequired nzFor="hellopub">hellopub</nz-form-label> -->
        <nz-form-control [nzSpan]="14" nzErrorTip="hellopub">
            <nz-input-group>
                <input type="text" nz-input formControlName="hellopub" placeholder="hellopub" />
            </nz-input-group>                        
        </nz-form-control>
        <nz-form-control [nzSpan]="10" nzErrorTip="hellopub">
            <nz-input-group>
                <button nz-button [nzType]="'primary'" (click)="clickHelloPub()">pub</button>
            </nz-input-group>                        
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <!-- <nz-form-label [nzSpan]="7" nzRequired nzFor="hellosub">hellosub</nz-form-label> -->
        <nz-form-control [nzSpan]="14" nzErrorTip="hellosub">
            <nz-input-group>
                <input type="text" nz-input formControlName="hellosub" placeholder="hellosub" />
            </nz-input-group>                        
        </nz-form-control>
        <nz-form-control [nzSpan]="10" nzErrorTip="hellosub">
            <nz-radio-group formControlName="hellosubstatus" [nzButtonStyle]="'solid'" (ngModelChange)="clickHelloSub()">
                <label nz-radio-button nzValue="start">start</label>
                <label nz-radio-button nzValue="stop">stop</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>

    <nz-divider [nzText]="'appsub(stat)'" nzOrientation="left"></nz-divider>                
    <nz-form-item>
        <!-- <nz-form-label [nzSpan]="7" nzRequired nzFor="appsub">appsub</nz-form-label> -->
        <nz-form-control [nzSpan]="14" nzErrorTip="appsub">
            <nz-input-group>
                <input type="text" nz-input formControlName="appsub" placeholder="appsub" />
            </nz-input-group>                        
        </nz-form-control>
        <nz-form-control [nzSpan]="10" nzErrorTip="appsub">
            <nz-radio-group formControlName="appsubstatus" [nzButtonStyle]="'solid'" (ngModelChange)="clickAppSub()">
                <label nz-radio-button nzValue="start">start</label>
                <label nz-radio-button nzValue="stop">stop</label>
            </nz-radio-group>

        </nz-form-control>
    </nz-form-item>

</form>
