<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card> 
    1. html : stompsub form복사 (hello제외)<br>
    2. ts   : constructor이후 복사<br>
</nz-card> </nz-collapse-panel> </nz-collapse>




<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6"> 
        <nz-collapse> 
            <nz-collapse-panel [nzHeader]="'stompsub'" [nzActive]="'true'" [nzDisabled]="'false'">
                <nz-card> <h6>appsub</h6> 
                    <form nz-form [formGroup]="getFormgroup()" (ngSubmit)="formSubmit()">

                        <nz-form-item>
                            <!-- <nz-form-label [nzSpan]="7" nzRequired nzFor="stompsub">stompsub</nz-form-label> -->
                            <nz-form-control [nzSpan]="12" nzErrorTip="stompsub">
                                <nz-input-group>
                                    <input type="text" nz-input formControlName="stompsub" placeholder="stompsub" />
                                </nz-input-group>                        
                            </nz-form-control>
                            <nz-form-control [nzSpan]="12" nzErrorTip="stompsub">
                                <nz-radio-group formControlName="stompsubstatus" [nzButtonStyle]="'solid'" (ngModelChange)="clickStompsub()">
                                    <label nz-radio-button nzValue="start">start</label>
                                    <label nz-radio-button nzValue="stop">stop</label>
                                </nz-radio-group>

                            </nz-form-control>
                        </nz-form-item>
                        <nz-divider [nzText]="'recv(count)'" nzOrientation="left"></nz-divider>                
                        <nz-statistic [nzTitle]="'recv'" [nzValue]="countvalue('recv')" [nzValueStyle]="{ color: '#3F8600' }" [nzPrefix]="" [nzSuffix]=""></nz-statistic>
    
                    </form>
                </nz-card> 
            </nz-collapse-panel>
            <nz-collapse-panel [nzHeader]="'hello'" [nzActive]="'true'" [nzDisabled]="'false'">
                <nz-card> <h6>hello</h6> 
                    <form nz-form [formGroup]="getFormgroup()" (ngSubmit)="formSubmit()">
                        <nz-divider [nzText]="'hello'" nzOrientation="left"></nz-divider>                
                        <nz-form-item>
                            <!-- <nz-form-label [nzSpan]="7" nzRequired nzFor="hellopub">hellopub</nz-form-label> -->
                            <nz-form-control [nzSpan]="12" nzErrorTip="hellopub">
                                <nz-input-group>
                                    <input type="text" nz-input formControlName="hellopub" placeholder="hellopub" />
                                </nz-input-group>                        
                            </nz-form-control>
                            <nz-form-control [nzSpan]="12" nzErrorTip="hellopub">
                                <nz-input-group>
                                    <button nz-button [nzType]="'primary'" (click)="clickHelloPub()">pub</button>
                                </nz-input-group>                        
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <!-- <nz-form-label [nzSpan]="7" nzRequired nzFor="hellosub">hellosub</nz-form-label> -->
                            <nz-form-control [nzSpan]="12" nzErrorTip="hellosub">
                                <nz-input-group>
                                    <input type="text" nz-input formControlName="hellosub" placeholder="hellosub" />
                                </nz-input-group>                        
                            </nz-form-control>
                            <nz-form-control [nzSpan]="12" nzErrorTip="hellosub">
                                <nz-radio-group formControlName="hellosubstatus" [nzButtonStyle]="'solid'" (ngModelChange)="clickHelloSub()">
                                    <label nz-radio-button nzValue="start">start</label>
                                    <label nz-radio-button nzValue="stop">stop</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
        
                </nz-card>
            </nz-collapse-panel>
        </nz-collapse>
    </nz-col>


      
      <nz-col [nzSpan]="18"> 
        <nz-row [nzGutter]="16">

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'stat'" [nzActive]="'true'" [nzDisabled]="'false'">

                        <nz-row [nzGutter]="16">
                            <ng-container *ngFor="let key of countkeys()">
                                <nz-col [nzSpan]="4">
                                    <nz-card>
                                        <nz-statistic [nzTitle]="key" [nzValue]="countvalue(key)" [nzValueStyle]="{ color: '#3F8600' }" [nzPrefix]="myicon" [nzSuffix]="'%'"></nz-statistic>
                                        <ng-template #myicon><i nz-icon nzType="right"></i></ng-template>
                                    </nz-card>
                                </nz-col>
                            </ng-container>
                            <ng-container *ngFor="let key of statmapkeys()">
                                <nz-col [nzSpan]="4">
                                    <nz-card>
                                        <nz-statistic [nzTitle]="key" [nzValue]="statmapvalue(key)" [nzValueStyle]="{ color: statusIconColor(key) }" [nzPrefix]="myicon" [nzSuffix]="'%'"></nz-statistic>
                                        <ng-template #myicon><i nz-icon [nzType]="statusIconName(key)"></i></ng-template>
                                    </nz-card>
                                </nz-col>
                            </ng-container>

                          </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'msgs'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card>
                            <div style="margin-bottom: 8px;"><button nz-button (click)="clearList()">clear</button></div>
                            <cdk-virtual-scroll-viewport itemSize="50" style="height: 50vh">
                                <nz-list [nzDataSource]="recvmsgs" nzBordered nzSize="small" [nzHeader]="'msgs'" [nzRenderItem]="smallItem" >
                                    <ng-template #smallItem let-item><nz-list-item [nzContent]="item"></nz-list-item></ng-template>
                                </nz-list>
                            </cdk-virtual-scroll-viewport>
                        </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

        </nz-row>
      </nz-col>
    </nz-row>
</div>
