<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card> 
    ##### util - html없음<br>
    -------------------------- jsonpath사용법<br>
    constructor(private jsonpath: AajsonpathService<br>
    this.jsonpathdata = this.jsonpath.convertJSONPath(data);<br>
    -------------------------- jsonsearch사용법<br>
    1.constructor(private jsonsearch:AajsonsearchService...<br>
    2.this.jsonsearchdata = this.jsonsearch.search(this.sourcedata,this.input);<br>
</nz-card> </nz-collapse-panel> </nz-collapse>



<button nz-button nzType="dashed" (click)="test_data('data')">data</button>
<button nz-button nzType="dashed" (click)="test_data('datachild')">datachild</button>
<button nz-button nzType="dashed" (click)="test_data('array')">array</button>
<button nz-button nzType="dashed" (click)="test_data('others')">others</button>
<nz-radio-group [(ngModel)]="arrayType">
    <ng-container *ngFor="let type of getArrayTypes()">
        <label nz-radio nzValue="{{type}}">{{type}}</label>
    </ng-container>
</nz-radio-group>


<div class="card-container">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab [nzTitle]="'sourcedata'">
            <nz-card>
            <!-- <cdk-virtual-scroll-viewport itemSize="50" style="height: 20vh"> -->
                <ngx-json-viewer [json]="sourcedata" [expanded]="true"></ngx-json-viewer>
            <!-- </cdk-virtual-scroll-viewport> -->
        </nz-card>
        </nz-tab>
        <nz-tab [nzTitle]="'jsonpathdata'">
            <nz-card>
            <!-- <cdk-virtual-scroll-viewport itemSize="50" style="height: 20vh"> -->
                <ngx-json-viewer [json]="jsonpathdata" [expanded]="true"></ngx-json-viewer>
            <!-- </cdk-virtual-scroll-viewport> -->
            </nz-card>
        </nz-tab>
        <nz-tab [nzTitle]="'test defiant'">
            <nz-card>

                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" nz-input [(ngModel)]="input" />
                    <input type="text" nz-input [(ngModel)]="error" />
                  </nz-input-group>
                  <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch (click)="test_search()"><i nz-icon nzType="search"></i></button>
                  </ng-template>
                  <br />

                <ngx-json-viewer [json]="jsonsearchdata" [expanded]="true"></ngx-json-viewer>
            </nz-card>
        </nz-tab>

    </nz-tabset>
  </div>

