
<nz-card> 
    <app-view-atop></app-view-atop> 
    <app-view-aleft></app-view-aleft> 
    <app-view-aright></app-view-aright> 
</nz-card>
<!-- <app-dashboard-aleft></app-dashboard-aleft>
<app-dashboard-aright></app-dashboard-aright> -->

<nz-affix [nzTarget]="mytarget" [nzOffsetTop]="300"> <button nz-button [nzType]="'primary'">Affix</button></nz-affix>
<!-- <nz-affix [nzTarget]="mytarget" style="position: absolute; top: 100px, left: 100px"> <button nz-button [nzType]="'primary'">Affix</button></nz-affix> -->
<!-- <nz-affix style="position: absolute; top: 100px, left: 100px"><button nz-button [nzType]="'primary'"> <span>Affix 2</span> </button></nz-affix> -->

<div style="background: #ECECEC; padding: 30px;" #mytarget>
    <nz-row [nzGutter]="16">
      <!-- <nz-col [nzSpan]="6"> 
          <nz-card> <h6>search</h6> <app-dashboard-form></app-dashboard-form> </nz-card> 
      </nz-col> -->
      <nz-col [nzSpan]="24"> 
        <nz-row [nzGutter]="16">

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'server max'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <nz-col [nzSpan]="6"><nz-card> <app-view-max></app-view-max> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-view-max></app-view-max> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-view-max></app-view-max> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-view-max></app-view-max> </nz-card></nz-col>
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'server top'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <nz-col [nzSpan]="6"><nz-card> <app-achart [myname]="myname_server_top_cpu" [charttype]="'bar'"></app-achart> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-achart [myname]="myname_server_top_memory" [charttype]="'bar'"></app-achart> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-achart [myname]="myname_server_top_cpu" [charttype]="'bar'"></app-achart> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-achart [myname]="myname_server_top_cpu" [charttype]="'bar'"></app-achart> </nz-card></nz-col>
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'server trend'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <nz-col [nzSpan]="6"><nz-card> <app-achart [myname]="myname_server_trend_cpu" [charttype]="'line'"></app-achart> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-achart [myname]="myname_server_trend_memory" [charttype]="'line'"></app-achart> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-achart [myname]="myname_server_trend_cpu" [charttype]="'line'"></app-achart> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-achart [myname]="myname_server_trend_cpu" [charttype]="'line'"></app-achart> </nz-card></nz-col>
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'server table'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <nz-col [nzSpan]="12"><nz-card> <app-atable [myname]="myname_server_table_cpu"></app-atable> </nz-card></nz-col>
                            <nz-col [nzSpan]="12"><nz-card> <app-atable [myname]="myname_server_table_memory"></app-atable> </nz-card></nz-col>
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'process'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <!-- <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-memory-top></app-dashboard-server-memory-top> </nz-card></nz-col> -->
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'app'" [nzActive]="'true'" [nzDisabled]="'false'"> 
                        <nz-row [nzGutter]="16">
                            <!-- <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-memory-top></app-dashboard-server-memory-top> </nz-card></nz-col> -->
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'summary'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <!-- <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-memory-top></app-dashboard-server-memory-top> </nz-card></nz-col> -->
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>
            
        </nz-row>
      </nz-col>
    </nz-row>
</div>
