<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6"> 
          <nz-card> <h6>search</h6> <app-dynamictable-condition></app-dynamictable-condition> </nz-card> 
      </nz-col>
      <nz-col [nzSpan]="18"> 
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'result'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> <app-dynamictable-result></app-dynamictable-result> </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'detail'" [nzActive]="'false'" [nzDisabled]="'false'">
                        <nz-card> <app-dynamictable-detail></app-dynamictable-detail> </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

        </nz-row>
      </nz-col>
    </nz-row>
</div>
