<form nz-form [formGroup]="getFormgroup()" (ngSubmit)="formSubmit()">

    <!-- <ng-container *ngFor="let column of getFormColumns()">
        <button nz-button [nzType]="'primary'" (click)="clickRefresh()">refresh</button>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="{{column}}">{{column}}</nz-form-label>
            <nz-form-control nzErrorTip="Please input your {{column}}!">
                <nz-input-group>
                    <nz-tag *ngFor="let table of tables" [nzColor]="table['color']" (click)="clickTable(table)">{{table['name']}}</nz-tag>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </ng-container> -->


    <button nz-button [nzType]="'primary'" (click)="clickRefresh()">refresh</button>
    <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired nzFor="tables">tables</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="tables">
            <nz-tag *ngFor="let table of tables" [nzColor]="table['color']" (click)="clickTable(table)">{{table['name']}}</nz-tag>
        </nz-form-control>
    </nz-form-item>


    <button nz-button [nzType]="'primary'" (click)="clickSelect()">select</button>
    <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired nzFor="sql">sql</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="sql">
            <textarea nz-input formControlName="sql" rows="10" placeholder="sql"></textarea>
        </nz-form-control>
    </nz-form-item>


    <!-- <nz-form-item>
        <nz-form-control>
          <button nz-button [nzType]="'primary'">Run</button>
        </nz-form-control>
    </nz-form-item> -->

</form>
