<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card><pre>
    1. html : 전체복사
    2. nz-card 변경
</pre></nz-card> </nz-collapse-panel> </nz-collapse>



<nz-divider [nzText]="'lefs/right'" nzOrientation="left"></nz-divider>
<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6"> 
          <nz-card> <h6>search</h6> condition component </nz-card> 
      </nz-col>
      <nz-col [nzSpan]="18"> 
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'result'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> result component </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'detail'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> detail </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

        </nz-row>
      </nz-col>
    </nz-row>
</div>


<nz-divider [nzText]="'row only'" nzOrientation="left"></nz-divider>
<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24"> 
            <nz-card> <h6>1</h6> 1 component </nz-card> 
        </nz-col>
        <nz-col [nzSpan]="24"> 
            <nz-card> <h6>2</h6> 2 component </nz-card> 
        </nz-col>
        <nz-col [nzSpan]="24"> 
            <nz-card> <h6>3</h6> 3 component </nz-card> 
        </nz-col>
    </nz-row>
</div>
