<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card> 
    1. html : nz-table 복사<br>
    2. ts : 전체복사<br>
</nz-card> </nz-collapse-panel> </nz-collapse>



<button nz-button nzType="dashed" (click)="test_datas()">test_datas</button>
<button nz-button nzType="dashed" (click)="test_data()">test_data</button>
<button nz-button nzType="dashed" (click)="test_columnshow()">test_columnshow</button>

<nz-table #basicTable [nzData]="getTableData()" nzSize="small">
    <thead>
      <tr>
        <th nzShowCheckbox [nzDisabled]="true"></th>
        <ng-container *ngFor="let column of getTableColumns()">
          <th *ngIf="column.show" >{{column["name"]}}</th>
        </ng-container>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        <tr>
          <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="selectRow(data)"></td>
          <ng-container *ngFor="let column of getTableColumns()">
            <td *ngIf="column.show">{{data[column["name"]]}} </td>
          </ng-container>
        </tr>
      </ng-container>
  
    </tbody>
  </nz-table>
  