<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card> 
    ...<br>
</nz-card> </nz-collapse-panel> </nz-collapse>




<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6"> 
        <nz-collapse> 
            <nz-collapse-panel [nzHeader]="'test_senario'" [nzActive]="'true'" [nzDisabled]="'false'">
                <nz-card> <h6>appsub</h6> 
                    <form nz-form [formGroup]="getFormgroup()" (ngSubmit)="formSubmit()">

                        <nz-form-item>
                            <nz-form-label [nzSpan]="7" nzRequired nzFor="msgtablemapping">msg table mapping</nz-form-label>
                            <br><button nz-button nzType="dashed" (click)="msgtablemapping_refresh()">refresh</button>
                            <br><button nz-button nzType="dashed" (click)="msgtablemapping_add1()">test add1</button>
                            <br><button nz-button nzType="dashed" (click)="msgtablemapping_add11()">test add11</button>
                            <br><button nz-button nzType="dashed" (click)="msgtablemapping_add2()">test add2</button>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label [nzSpan]="7" nzRequired nzFor="manage">manage</nz-form-label>
                            <br><button nz-button nzType="dashed" (click)="testadd()">testadd</button>
                            <br><button nz-button nzType="dashed" (click)="clear()">clear</button>
                        </nz-form-item>

                    </form>
                </nz-card> 
            </nz-collapse-panel>
        </nz-collapse>
    </nz-col>


      
      <nz-col [nzSpan]="18"> 
        <nz-row [nzGutter]="16">

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <!-- table -->
                    <nz-collapse-panel [nzHeader]="'msgtablemapping'" [nzActive]="'true'" [nzDisabled]="'false'">
                                <nz-card>
                                    <nz-input-group nzCompact style="margin-bottom: 8px;">
                                        &nbsp;<button nz-button (click)="deleterow()">deleterow</button>
                                      </nz-input-group>
                                      
                                      
                                      <nz-table #myTable nzBordered [nzData]="getTableData()" nzSize="small">
                                        <thead>
                                          <tr>
                                            <th nzShowCheckbox [nzDisabled]="true"></th>
                                            <ng-container *ngFor="let column of getTableColumns()">
                                              <th *ngIf="column.show">{{column["name"]}}</th>
                                            </ng-container>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <ng-container *ngFor="let data of myTable.data">
                                            <tr>
                                              <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="selectRow(data)"></td>
                                              <ng-container *ngFor="let column of getTableColumns()">
                                                <td *ngIf="column.show">
                                                  <ng-container *ngIf="isEditable()==false">{{data[column["name"]]}}</ng-container>
                                                  <ng-container *ngIf="isEditable()==true"> <input type="text" nz-input [(ngModel)]='data[column["name"]]'/></ng-container>
                                                </td>
                                              </ng-container>
                                            </tr>
                                          </ng-container>
                                        </tbody>
                                      </nz-table>
                                      
                                </nz-card>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'view localstorage'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card>
                            <cdk-virtual-scroll-viewport itemSize="50" style="height: 50vh">
                                <ngx-json-viewer [json]="getLocalStorage()" [expanded]="true"></ngx-json-viewer>
                            </cdk-virtual-scroll-viewport>
                        </nz-card> 
                    </nz-collapse-panel> 
                    <nz-collapse-panel [nzHeader]="'view msgtablemapping'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card>
                            <cdk-virtual-scroll-viewport itemSize="50" style="height: 50vh">
                                <ngx-json-viewer [json]="getMsgtablemapping()" [expanded]="true"></ngx-json-viewer>
                            </cdk-virtual-scroll-viewport>
                        </nz-card> 
                    </nz-collapse-panel> 

                </nz-collapse>
            </nz-col>

        </nz-row>
      </nz-col>
    </nz-row>
</div>
