<form nz-form [formGroup]="form" (ngSubmit)="formSubmit()">
    <nz-form-item>
        <nz-form-label nzRequired nzFor="sql">sql</nz-form-label>
        <nz-form-control nzErrorTip="Please input your sql!">
            <nz-input-group>
              <textarea nz-input formControlName="sql" rows="3" placeholder="sql"></textarea>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <!-- <nz-form-item>
        <nz-form-label nzRequired nzFor="userName">User Name</nz-form-label>
        <nz-form-control nzErrorTip="Please input your userName!">
            <nz-input-group>
              <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item> -->

    <nz-form-item>
      <nz-form-control>
        <button nz-button [nzType]="'primary'">run</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  