<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card><pre>
    1. html : app-achart [parentname]="myname"
    2. ts :
        - @Input() parentname = "---"; myname = "chart-test";
        - this.pubsub.sub(this.myname+".chart.xxx",data=>...
        - this.pubsub.pub(this.myname+".chart.charttype",this.mycharttype);
    ===============================
	- line포맷 : legend:data["host"],x:data["time"],y:data["cpu"]
	- bar포맷  : legend:"server-cpu",x:data["host"],y:data["cpu"]
</pre></nz-card> </nz-collapse-panel> </nz-collapse>



<button nz-button nzType="danger" (click)="line_chartInit()">linechart</button>
<button nz-button nzType="dashed" (click)="line_test_datas()">line_test_datas</button>
<button nz-button nzType="dashed" (click)="line_test_datarow()">line_test_datarow</button>

<nz-divider nzType="vertical"></nz-divider>                
<button nz-button nzType="danger" (click)="bar_chartInit()">barchart</button>
<button nz-button nzType="dashed" (click)="bar_test_datas()">bar_test_datas</button>
<button nz-button nzType="dashed" (click)="bar_test_datarow()">bar_test_datarow</button>

<nz-collapse> 
    <nz-collapse-panel [nzHeader]="'realtime'" [nzActive]="'true'" [nzDisabled]="'false'"> 
        <nz-card>
            <app-achart [parentname]="myname"></app-achart>
        </nz-card> 
    </nz-collapse-panel> 

</nz-collapse>




<nz-collapse> 
    <nz-collapse-panel [nzHeader]="'debugjsondata'" [nzActive]="'false'" [nzDisabled]="'false'" [nzExtra]="extraButton">
        <nz-card>
            <cdk-virtual-scroll-viewport itemSize="50" style="height: 50vh">
                <ngx-json-viewer [json]="debugjsondata" [expanded]="true"></ngx-json-viewer>
            </cdk-virtual-scroll-viewport>
        </nz-card>        
    </nz-collapse-panel> 
</nz-collapse>
<ng-template #extraButton><i nz-icon nzType="copy" (click)="copyToClipboard()"></i></ng-template>
