<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card><pre>
    ==================== component
    1. html은 무관
    1. @Input() 정의
        @Input() parentname = "acompo"; myname = "countdown";
    2. parent/child 통신
        this.pubsub.sub(this.parentname+"."+this.myname+".interval",data=
        this.pubsub.pub(this.parentname+"."+this.myname+".fire"
    ==================== 사용
    1. app-acountdown [parentname]="myname"
    2. this.pubsub.sub(this.myname+".countdown.fire",data
    3. this.pubsub.pub(this.myname+".countdown.interval",
</pre></nz-card> </nz-collapse-panel> </nz-collapse>



<button nz-button nzType="dashed" (click)="test_interval(5)">test_interval 5</button>
<button nz-button nzType="dashed" (click)="test_interval(10)">test_interval 10</button>
<button nz-button nzType="dashed" (click)="test_interval(20)">test_interval 20</button>
<nz-tag [nzColor]="'magenta'">myinterval-{{myinterval}}</nz-tag>
<nz-tag [nzColor]="'magenta'">myfirecount-{{myfirecount}}</nz-tag>
<!-- <nz-tag [nzColor]="'magenta'">mycountdown-{{mycountdown}}</nz-tag> -->
<nz-divider nzType="vertical"></nz-divider>                



<app-acountdown [parentname]="myname"></app-acountdown>
