<nz-table #basicTable [nzData]="tableData" nzSize="small">
  <thead>
    <tr>
      <th nzShowCheckbox [nzDisabled]="true"></th>
      <th>host</th>
      <th>ip</th>
      <th>date</th>
      <th>cpu</th>
      <th>memory</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="selectRow(data)"></td>
      <td>{{ data.host }}</td>
      <td>{{ data.ip }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.cpu }}</td>
      <td>{{ data.memory }}</td>
    </tr>
  </tbody>
</nz-table>
