<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24"> 
            <nz-card> <app-view-atop [myname]="myname"></app-view-atop> </nz-card> 
        </nz-col>
        <nz-col [nzSpan]="24"> 
            <nz-card> <h6>msg status</h6> <app-view-msgstatus [myname]="myname+'_msgstatus'"></app-view-msgstatus> </nz-card> 
        </nz-col>
        <nz-col [nzSpan]="24"> 
            <nz-card> <h6>table status</h6> <app-view-tablestatus [myname]="myname+'_tablestatus'"></app-view-tablestatus> </nz-card> 
        </nz-col>
    </nz-row>
</div>


<app-view-aright [myname]="myname"></app-view-aright>
<app-view-tableschema [myname]="myname+'_tableschema'"></app-view-tableschema>
<app-view-localstorage [myname]="myname"></app-view-localstorage>
