
<nz-layout class="layout">

  <nz-header>
    <div class="logo"></div>

    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item (click)="setMenuType('main')" nzSelected>main</li>
      <li nz-menu-item (click)="setMenuType('guide')">guide</li>
      <li nz-menu-item (click)="setMenuType('guide-test')">guide-test</li>
      <li nz-menu-item (click)="setMenuType('dashboard')">dashboard</li>
      <li nz-menu-item (click)="setMenuType('test')">test</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ng-container *ngIf="menuType=='main'">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test1"><span title><i nz-icon nzType="notification"></i>Test1</span></a></li>
        </ul>
      </ng-container>

      <ng-container *ngIf="menuType=='guide'">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide/layout"><span title><i nz-icon nzType="notification"></i>layout</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide/form"><span title><i nz-icon nzType="notification"></i>form</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide/form-readonly"><span title><i nz-icon nzType="notification"></i>form-readonly</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide/table"><span title><i nz-icon nzType="notification"></i>table</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide/chart"><span title><i nz-icon nzType="notification"></i>chart</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide/editor"><span title><i nz-icon nzType="notification"></i>editor</span></a></li>
        </ul>
      </ng-container>

      <ng-container *ngIf="menuType=='guide-test'">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide-test/dynamictable"><span title><i nz-icon nzType="notification"></i>dynamic table</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide-test/dynamicchart"><span title><i nz-icon nzType="notification"></i>dynamic chart</span></a></li>

          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide-test/sqlquery"><span title><i nz-icon nzType="notification"></i>sql query</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="guide-test/sqlchart"><span title><i nz-icon nzType="notification"></i>sql chart</span></a></li>
        </ul>
      </ng-container>

      <ng-container *ngIf="menuType=='dashboard'">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="dashboard/dashboard"><span title><i nz-icon nzType="notification"></i>Dashboard</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="dashboard/dashboardv2"><span title><i nz-icon nzType="notification"></i>Dashboard v2</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="dashboard/table"><span title><i nz-icon nzType="user"></i>Table</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="dashboard/form"><span title><i nz-icon nzType="laptop"></i>Form</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="dashboard/page-header"><span title><i nz-icon nzType="notification"></i>Page Header</span></a></li>
        </ul>
      </ng-container>
      <ng-container *ngIf="menuType=='test'">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test/aform"><span title><i nz-icon nzType="user"></i>aform</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test/login"><span title><i nz-icon nzType="user"></i>login</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test/userfilter"><span title><i nz-icon nzType="laptop"></i>userfilter</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test/userform"><span title><i nz-icon nzType="laptop"></i>userform</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test/usertable"><span title><i nz-icon nzType="laptop"></i>usertable</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test/userdetail"><span title><i nz-icon nzType="laptop"></i>userdetail</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test/userall"><span title><i nz-icon nzType="laptop"></i>userall</span></a></li>
          <li nz-menu-item routerLinkActive="ant-menu-item-selected"><a title routerLink="test/profile"><span title><i nz-icon nzType="laptop"></i>profile</span></a></li>
        </ul>
      </ng-container>
      
    </nz-sider>

    <nz-layout style="padding:0 24px 24px">
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
