<cdk-virtual-scroll-viewport itemSize="50" style="height: 50vh">
    <!-- <p-treeTable [value]="getTreeTableData()" selectionMode="checkbox" [(selection)]="getTreeTableSelectData()" (onNodeSelect)="treeTableOnSelect($event)" (onNodeUnselect)="treeTableOnSelect($event)" (onHeaderCheckboxToggle)="treeTableOnSelect($event)"> -->
    <p-treeTable [value]="getTreeTableData()" selectionMode="checkbox" [(selection)]="treetable_selectdata" (onNodeSelect)="treeTableOnSelect($event)" (onNodeUnselect)="treeTableOnSelect($event)" (onHeaderCheckboxToggle)="treeTableOnSelect($event)">
      <ng-template pTemplate="caption">
        <div style="text-align:left"> 
          <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox> 
          <span style="margin-left: .25em; vertical-align: middle">Toggle All</span> 
        </div>
     </ng-template>
      <ng-template pTemplate="header" let-columns> 
          <tr> 
              <th *ngFor="let col of getTreeTableColumns()"> {{col}} </th> 
          </tr> 
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr>
              <td *ngFor="let col of getTreeTableColumns(); let i = index">
                  <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                  <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
                  <!-- <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0" (click)="clicktreecheck(rowData)"></p-treeTableCheckbox> -->
                  {{rowData[col]}}
              </td>
          </tr>
      </ng-template>
    </p-treeTable>        
  </cdk-virtual-scroll-viewport>



<h1>debug jsonviewdata</h1>
<nz-card>
  <cdk-virtual-scroll-viewport itemSize="50" style="height: 50vh">
      <ngx-json-viewer [json]="jsonviewdata" [expanded]="true"></ngx-json-viewer>
  </cdk-virtual-scroll-viewport>
</nz-card>
