<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6"> 
          <nz-card> <h6>search</h6> <app-sqlchart-condition></app-sqlchart-condition> </nz-card> 
      </nz-col>
      <nz-col [nzSpan]="18"> 
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'chart'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> <app-sqlchart-chart></app-sqlchart-chart> </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'list'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> <app-sqlchart-list></app-sqlchart-list> </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>
        </nz-row>
      </nz-col>
    </nz-row>
</div>
