<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card><pre>
    1. html : app-atable [myname]="myname" [checkable]="false" [editable]="false"
    2. ts :
        - myname = "table-test";
        - this.pubsub.sub(this.myname+".tableselectdata",data=>...
        - this.pubsub.pub(this.myname+".tabledatas",datas)
        - this.pubsub.pub(this.myname+".tabledata",data)
        - this.pubsub.pub(this.myname+".tablecolumnshow"...
        - this.pubsub.pub(this.myname+".tableeditable"...
        - this.pubsub.pub(this.myname+".tablecheckable"...
        - this.pubsub.pub(this.myname+".tablecheckall"...
</pre></nz-card> </nz-collapse-panel> </nz-collapse>


  
  
  <button nz-button nzType="dashed" (click)="test_datas()">test_datas</button>
  <button nz-button nzType="dashed" (click)="test_data()">test_data</button>
  <button nz-button nzType="dashed" (click)="test_columnshow()">test_columnshow</button>
  <button nz-button nzType="dashed" (click)="test_edit()">test_edit</button>
  <button nz-button nzType="dashed" (click)="test_check()">test_check</button>
  <button nz-button nzType="dashed" (click)="test_checkall()">test_checkall</button>
  
  
  <h1>============================ table button</h1>
  <nz-input-group nzCompact style="margin-bottom: 8px;">
    &nbsp;<button nz-button (click)="createtable()">createtable</button>
    &nbsp;<button nz-button nzType="dashed" (click)="testinsert()">testinsert</button>
    &nbsp;<button nz-button nzType="dashed" (click)="testselect()">testselect</button>
    &nbsp;<input type="text" style="width: 120px" nz-input [(ngModel)]="inputValue" />
    &nbsp;<button nz-button (click)="savelocalstorage()">savelocalstorage</button>
  </nz-input-group>
  <h1>============================ table</h1>
  <app-atable [myname]="myname" [checkable]="false" [editable]="false"></app-atable>
  
  
 