<nz-table #myTable nzBordered [nzData]="getTableData()" nzSize="small">
    <thead>
      <tr>
        <ng-container *ngIf="checkable"><th nzShowCheckbox [nzDisabled]="true"></th></ng-container>
        <ng-container *ngFor="let column of getTableColumns()">
          <th *ngIf="column.show">{{column["name"]}}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of myTable.data">
        <tr>        
          <ng-container *ngIf="checkable"><td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="selectRow(data)"></td></ng-container>
          <ng-container *ngFor="let column of getTableColumns()">
            <td *ngIf="column.show">
              <ng-container *ngIf="!editable">{{data[column["name"]]}}</ng-container>
              <ng-container *ngIf="editable"> <input type="text" nz-input [(ngModel)]='data[column["name"]]'/></ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  