<nz-collapse> <nz-collapse-panel [nzHeader]="'usage'" [nzActive]="'true'" [nzDisabled]="'false'"> <nz-card> 
    1. html : 전체복사<br>
    2. nz-card 변경<br>
</nz-card> </nz-collapse-panel> </nz-collapse>




<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <!-- <nz-col [nzSpan]="6"> 
          <nz-card> <h6>search</h6> <app-dashboard-form></app-dashboard-form> </nz-card> 
      </nz-col> -->
      <nz-col [nzSpan]="24"> 
        <nz-row [nzGutter]="16">

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'server max'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-max></app-dashboard-server-cpu-max> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-memory-max></app-dashboard-server-memory-max> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-max></app-dashboard-server-cpu-max> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-max></app-dashboard-server-cpu-max> </nz-card></nz-col>
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'server top'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-memory-top></app-dashboard-server-memory-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'server trend'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-trend></app-dashboard-server-cpu-trend> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-memory-trend></app-dashboard-server-memory-trend> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-trend></app-dashboard-server-cpu-trend> </nz-card></nz-col>
                            <nz-col [nzSpan]="6"><nz-card> <app-dashboard-server-cpu-trend></app-dashboard-server-cpu-trend> </nz-card></nz-col>
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'process'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <!-- <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-memory-top></app-dashboard-server-memory-top> </nz-card></nz-col> -->
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'app'" [nzActive]="'true'" [nzDisabled]="'false'"> 
                        <nz-row [nzGutter]="16">
                            <!-- <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-memory-top></app-dashboard-server-memory-top> </nz-card></nz-col> -->
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'summary'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-row [nzGutter]="16">
                            <!-- <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-cpu-top></app-dashboard-server-cpu-top> </nz-card></nz-col>
                            <nz-col [nzSpan]="12"><nz-card> <app-dashboard-server-memory-top></app-dashboard-server-memory-top> </nz-card></nz-col> -->
                        </nz-row>
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>
            
        </nz-row>
      </nz-col>
    </nz-row>
</div>
