<form nz-form [formGroup]="form" (ngSubmit)="formSubmit()">
    <nz-form-item>
        <nz-form-label nzRequired nzFor="host">host</nz-form-label>
        <nz-form-control nzErrorTip="Please input your host!">
            <nz-input-group>
              <input type="text" nz-input formControlName="host" placeholder="host" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired nzFor="ip">ip</nz-form-label>
        <nz-form-control nzErrorTip="Please input your ip!">
            <nz-input-group>
              <input type="text" nz-input formControlName="ip" placeholder="ip" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired nzFor="date">date</nz-form-label>
        <nz-form-control nzErrorTip="Please input your date!">
            <nz-input-group>
              <input type="text" nz-input formControlName="date" placeholder="date" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired nzFor="cpu">cpu</nz-form-label>
        <nz-form-control nzErrorTip="Please input your cpu!">
            <nz-input-group>
              <input type="text" nz-input formControlName="cpu" placeholder="cpu" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="memory">memory</nz-form-label>
      <nz-form-control nzErrorTip="Please input your memory!">
          <nz-input-group>
            <input type="text" nz-input formControlName="memory" placeholder="memory" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button [nzType]="'primary'">update</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  