<form nz-form [formGroup]="form" (ngSubmit)="formSubmit()">
    <nz-form-item>
        <nz-form-label nzRequired nzFor="email">sql</nz-form-label>
        <nz-form-control nzErrorTip="Please input your sql!">
            <nz-input-group>
              <textarea nz-input formControlName="sql" rows="3" placeholder="sql"></textarea>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="legend">legend</nz-form-label>
        <nz-form-control nzErrorTip="Please input your legend!">
          <nz-input-group>
            <input type="text" nz-input formControlName="legend" placeholder="legend" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="x">x</nz-form-label>
        <nz-form-control nzErrorTip="Please input your x!">
          <nz-input-group>
            <input type="text" nz-input formControlName="x" placeholder="x" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="y">y</nz-form-label>
        <nz-form-control nzErrorTip="Please input your y!">
          <nz-input-group>
            <input type="text" nz-input formControlName="y" placeholder="y" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button [nzType]="'primary'">run</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  